In [2]:
### Ques1 :
"""
* is an expression
'hello' is a vlaue
-87.8 is a value
- is an expression
/ is an expression
+ is an expression
6 is a value
"""

In [3]:
### Ques2 :
"""
string- string is a text value .which is enquoted in either '' or "" .

variable- variable is a container for storing values like integer values ,string value ,float value ,lists etc. 
"""

'\nstring- string is a text value .which is enquoted in either \'\' or "" .\n\nvariable- variable is a numeric value for example - integer,float. \n'

In [6]:
### Ques3 :
str1 = "String"
print(str1,type(str1))
var1 = 23
print(var1,type(var1))
var2 = 23.44
print(var2,type(var2))
list1 = [1, 2, 3, 4, 5]
print(list1,type(list1))
var4 = (11,22,33)
print(var4,type(var4))
var5 = {'a':1,'b':2,'c':3}
print(var5,type(var5))

String <class 'str'>
23 <class 'int'>
23.44 <class 'float'>
[1, 2, 3, 4, 5] <class 'list'>
(11, 22, 33) <class 'tuple'>
{'a': 1, 'b': 2, 'c': 3} <class 'dict'>

In [7]:
### Ques4 :
"""
Expression is made up of operands and operator. 
An expression produce result after execution.
"""

'\nExpression is made up of operands and operator. \nAn expression produce result after execution.\n'

In [ ]:
### Ques5 :
"""
The assignment statement spam = 10 
Statement - A statement is composed of expressions , statement may or maynot produce any result as in above statement.
Experssion - An expression is a subset of statement, it contain +,_,*,% etc. 
"""

In [8]:
### Ques6 :
bacon = 22 
bacon+1

23

In [10]:
### Ques7 :
term1 = 'spam'+'spamspam'
term2 = 'spam'*3
print("term1 = ",term1)
print("term2 = ",term2)

term1 =  spamspamspam
term2 =  spamspamspam

In [ ]:
### Ques8 :
"""
'eggs' is a valid variable  as it satisfies the condtions of an identifier.
Hence '100' is not a valid variable as an identifier cannot be start with numeric values"""

In [14]:
### Ques9 :
value = 42
int_value = int(value)
print("Interger value = ",int_value)
float_value = float(value)
print("Floating-point value = ",float_value)
str_value = str(value)
print("String value = ",str_value)

Interger value =  42
Floating-point value =  42.0
String value =  42

In [17]:
### Ques10 :
"""
experssion = 'i have eaten' + 99 + 'burritos' shows an error
because we are concatinating string value and integer value 
"""
# we can write the above expression as 
expression1 = 'i have eaten' + ' 99 ' + 'burritos' 
print(expression1)

i have eaten 99 burritos